a.homelink {
    background-color: #880000;
    color: white;
    font-weight: bold;
    padding: 1ex 4em;
    text-decoration: inherit;
}

span.email-identifier {
    font-stretch: expanded;
    font-weight: 500;
    margin: 0.1em;
}

footer a + a {
    margin: 2em;
}
